**/*.so
**/*.*.o
*.pyc
*.conf_check_*
.waf-1.7.11-*/
.lock-waf_linux2_build
build/ns3/*
build/.wafpickle-*
build/.old_srcdir
build/scratch/*
**/ns3.18-*
mix/*fct.txt
mix/*pfc.txt
mix/*.tr*
mix/qlen.txt
monitor_output/*
mix/*.tr--commscale=1*
mix/pfc*.txt
mix/fct*.txt
mix/*/
tmp*
.waf*-*
cmake-cache/*
cmake-cache/*
.lock-ns3_linux_build



!cmake-cache/.gitkeep
!mix/incast

*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.log
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
*~

testpy-output

bindings/python/pybindgen/

venv/

ms_print.*
massif.*
coverity
TAGS

.lock-ns3_*
.ns3rc

build-dir/
build/
/.cproject
/.project

version.cache

.gitlab-ci-local/
.idea/
cmake-*/
vcpkg/

.vs/

# Ignore local cache used by e.g. clangd
.cache/

.vscode/

.gdb_history
perf.data*
out.perf
out.folded
